{% extends 'base/base.html' %}

{% block title %} Login | Blog Project {% endblock title %}

{% block content %}

<div class="container col-lg-6 shadow p-3 mx-auto mt-5">
    <h1 class="text-center">Login your account</h1>
    <hr>
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <form  method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Login" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock content %}