{% extends 'base/base.html' %}

{% block title %} Delete Blog | Blog Project{% endblock title %}

{% block content %}
{% if user.is_authenticated %}

            {% if user.id == blog.author.id %}




            <div class="container col-lg-6 shadow p-3 mx-auto mt-5">
                <h1 class="text-center">Delete Blog</h1>
                <hr>
                <h4>Delete : {{blog.title}}</h4>
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <form  method="POST">
                            {% csrf_token %}
                            <strong>Are Your Sure ?</strong>
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
        <strong>You are Authorized to delete this</strong>
        {% endif %}
{% else %}
<p style='color: black'><strong>You are not logged in, please login to Delete your blog!</strong></p>
{% endif %}

{% endblock content %}